.navbar{
    background-color: black ;
    
}
.title{
   font-weight: 500;

}
img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
    
}
.toggle-icon{
    color: #fff;
}

.signout-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color: white;
}