.cards{
   box-shadow: 0 4px 8px 0px rgba(247, 247, 247, 0.2);
   background-color: #f9fcff;
   border-radius: 15px;
   
    
}
.cards h2{
    
    letter-spacing: 1.5px;
    color: rgb(241, 67, 67);
    
}
.cards h3{
    
    font-family: 18px;
    margin-top: 5px;
    letter-spacing: 1.5px;
    color: #5c5c5c;
    
}

.cards p{
    margin-top: 10px ;
    color: #5c5c5c;
   
}
.cards img{
    width: 250px;
    height: 15vw;
    margin: 10px;
    align-self: center;
   
}
.card-btn{
    margin-top: 10px;
    background-color: #3B185F;
    color: #fff;
    font-size: 17px;
    padding: 5px 18px;
    border-radius: 40px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    border: none;
    font-weight: 500;
    align-content: flex-end;
}
.card-btn:hover{
    background-color: #140227;
    transition: 0.2s ease;
}
